<div class="card mb-3">
  <div class="card-body">
    <p class="card-text"><%= comment.comment_content %></p>
    <p class="card-text"><small class="text-muted">By <%= comment.user.username %> on <%= comment.created_at.strftime("%B %d, %Y") %></small></p>
  </div>
</div>