<!-- app/views/themes/index.html.erb -->
<h1>Themes</h1>

<div class="row">
  <% @themes.each do |theme| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to theme.name, theme_path(theme) %></h5>
          <p class="card-text"><%= pluralize(theme.articles.count, 'article') %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Theme', new_theme_path, class: 'btn btn-primary' if logged_in? %>