h1>New Article Awaiting Approval</h1>
<p>A new article "<%= @article.title %>" by <%= @article.user.username %> is awaiting approval.</p>
<p>Click here to review: <%= link_to 'Review Article', @url %></p>